/*columnas*/

/*Index background with dark overlay*/
.columna_izquierda{
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F4F3EF;
}
.columna_izquierda_about_us{
    background-image: url(../images/about_bg.jpg);
}
.bg_cards{
    background-color: #F4F3EF;
}
.text-large-style{
    font-size:4vw;
    color: #494949;
}
.text-small-style{
    font-size:1.4em;
    color: #494949;
}

.text-margin-top{
    margin-top: 110px;
}
.estilo_form{
    width: 80%;
}