/*columnas*/

.columna_izquierda{
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F4F3EF;
}
.columna_izquierda_owner_registration{
    background-image: url(../images/owner_registration_bg.jpg);
}
.columna_izquierda_vet_registration{
    background-image: url(../images/vet_registration_bg.jpg);
}

.columna_derecha{
    background-color: #F4F3EF;
    overflow-y: auto;
}

.estilo_form{
    width: 70%;
    margin:auto;
    margin-top: 5vh;
    padding: 40px;
    background-color: white;

    border: none;
    border-radius: 10px;
}

/*Imagen Logo*/
.img_logo_container{
    padding-top:30px;
    width: 25%;
    margin: auto;
}

.img_size{
    width: 100%;
    margin: auto;
}


/*TEXTO*/

.titulo{
    color: #646464;
    padding-bottom: 5px;
    font-family: 'Helvetica', 'arial', sans-serif;
    font-size: 25px;
}

.subtitulo{
    color: #646464;   
    font-family: 'Helvetica';
    font-size: 18px;
    padding-top: 5px;
}

.text{
    color: #646464;
    font-family: 'Helvetica';
    font-size: 15px;
    padding-top: 10px;
}
