

/*columnas*/
.columna_izquierda{
    height: 100vh;
    background-image: url(../images/vet_registration_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F4F3EF;
}

.columna_derecha{
    background-color: #F4F3EF;
    overflow-y: auto;    
}

.estilo_form{
    width: 70%;
    margin:auto;
    margin-top: 5vh;
    padding: 40px;
    background-color: white;

    border: none;
    border-radius: 10px;
}

/*Imagen Logo*/
.img_logo_container{
    padding-top:15px;
    width: 25%;
    margin-left: 10px;
}

.img_size{
    width: 100%;
    margin: auto;
}


/*TEXTO*/

.titulo{
    color: #646464;
    padding-bottom: 5px;
    font-family: 'Helvetica', 'arial', sans-serif;
    font-size: 25px;
}


.subtitulo{
    color: #646464;   
    font-family: 'Helvetica';
    font-size: 18px;
    padding-top: 5px;
}

.text{
    color: #646464;
    font-family: 'Helvetica';
    font-size: 15px;
    padding-top: 10px;
}


/*botones*/

.buttton {
    background-color: #49a0bc;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 15px;
    text-decoration: none;
    font-family: 'poppins_meddium', 'arial', sans-serif;
}

button:hover{
    background-color: #3091B2;
}






